* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: aliceblue;
}

h1 {
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 10px;
}

#product-container {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  display: flex;
}

.groceries {
  border: 1px solid black;
  width: 600px;
  min-height: 100vh;
  margin: auto;
  background: lightgray;
  box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: auto 50px auto;
  grid-gap: 10px 50px;
  padding: 10px;
}

.test {
  background-color: yellow;
}

.error {
  background-color: #e57373;
  color: #fff;
}

.success {
  background-color: #4db6ac;
  color: #fff;
}

#message {
  text-align: center;
  padding-top: 3px;
  vertical-align: middle;
}

input {
  padding: 10px 5px;
  font-size: 1em;
}

#submit-button {
  background-color: #006064;
  color: #fff;
}

i {
  color: #006064;
}

h2 {
  text-align: center;
  margin: 40px;
  font-family: "Abril Fatface", cursive;
  color: #006064;
}

.cost {
  color: #b71c1c;
}
